extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

       
        h1 Dean Yacoumakis

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

      
        .portfolio-bio
          p
            | I am a self taught Javascript full stack developer who is continuously learning new ways to make optimal and scalable products. I've acquired most of my skills completing 
            a(href="https://teamtreehouse.com/") TeamTreeHouse.com 
            | full stack tech degree program. While working as an electrical technician for a gaming corporation I decided I wanted to transition from working with hardware to software development. 
            |I've recently moved across the country from Chicago to Denver to realize my dream of becoming a developer. In my down time I enjoy working out, hiking, camping, snowboarding, and exploring my new surroundings. I'm excited to move into 
            |a rewarding career with a team who will utilize my passion for life long learning.   
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills


        ul
          li JavaScript
          li Express
          li React
          li Pug 
          li Node.js
          li SQLite
          li HTML
          li CSS
          li jQuery
        h6 Contact Info

        
        ul
          li 708-552-1995
          li dyacoumakis@gmail.com

       
        a.button.expanded(href='https://www.linkedin.com/in/kostantinos-yacoumakis-304675155/') LinkedIn
        a.button.expanded(href='https://github.com/DeanYRepos?tab=repositories') GitHub
       
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  